<footer>
  <img class="go-back" src="images/jamia.jpg" alt="" />
  <p class="future">YOUR FUTURE STARTS HERE</p>
  <hr />
  <p class="join">JOIN YOUR DREAM UNIVERSITY</p>
  <button class="learn-more">Learn More</button>
  <p id="copyright">&copy;</p>
</footer>
