<header>
  <a class="logo" href="#">
    <img src="./images/logo.png" alt="TJR" />
  </a>
  <nav>
    <input type="checkbox" id="ch-1" />
    <label for="ch-1" class="chk-btn">
      <span class="material-icons-outlined"> menu </span>
    </label>
    <ul class="menu">
      <li class="menu-item active"><a href="">Home</a></li>
      <li class="menu-item"><a href="">Blog</a></li>
      <li class="menu-item"><a href="">Contact us</a></li>
    </ul>
  </nav>
</header>
