<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admissions || The Jamia Review</title>
    <meta name="description" content="" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/details.css" />
    <link rel="stylesheet" href="css/front_page.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="#">
        <img src="images/logo.png" alt="TJR" />
      </a>
      <nav>
        <input type="checkbox" id="ch-1" />
        <label for="ch-1" class="chk-btn">
          <span class="material-icons-outlined"> menu </span>
        </label>
        <ul class="menu">
          <li class="menu-item active"><a href="">Home</a></li>
          <li class="menu-item"><a href="">Blog</a></li>
          <li class="menu-item"><a href="">Contact us</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
