<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>wassup!!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <main>
      <section class="advice">
        <h1 class="advice__title">Site under construction</h1>
        <p class="advice__description">
          <span></span> building <span>/></span> not finished yet
        </p>
      </section>
      <section class="city-stuff">
        <ul class="skyscrappers__list">
          <li class="skyscrapper__item skyscrapper-1"></li>
          <li class="skyscrapper__item skyscrapper-2"></li>
          <li class="skyscrapper__item skyscrapper-3"></li>
          <li class="skyscrapper__item skyscrapper-4"></li>
          <li class="skyscrapper__item skyscrapper-5"></li>
        </ul>
        <ul class="tree__container">
          <li class="tree__list">
            <ul class="tree__item tree-1">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-2">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-3">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-4">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-5">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-6">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-7">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
            <ul class="tree__item tree-8">
              <li class="tree__trunk"></li>
              <li class="tree__leaves"></li>
            </ul>
          </li>
        </ul>
        <ul class="crane__list crane-1">
          <li class="crane__item crane-cable crane-cable-1"></li>
          <li class="crane__item crane-cable crane-cable-2"></li>
          <li class="crane__item crane-cable crane-cable-3"></li>
          <li class="crane__item crane-stand"></li>
          <li class="crane__item crane-weight"></li>
          <li class="crane__item crane-cabin"></li>
          <li class="crane__item crane-arm"></li>
        </ul>
        <ul class="crane__list crane-2">
          <li class="crane__item crane-cable crane-cable-1"></li>
          <li class="crane__item crane-cable crane-cable-2"></li>
          <li class="crane__item crane-cable crane-cable-3"></li>
          <li class="crane__item crane-stand"></li>
          <li class="crane__item crane-weight"></li>
          <li class="crane__item crane-cabin"></li>
          <li class="crane__item crane-arm"></li>
        </ul>
        <ul class="crane__list crane-3">
          <li class="crane__item crane-cable crane-cable-1"></li>
          <li class="crane__item crane-cable crane-cable-2"></li>
          <li class="crane__item crane-cable crane-cable-3"></li>
          <li class="crane__item crane-stand"></li>
          <li class="crane__item crane-weight"></li>
          <li class="crane__item crane-cabin"></li>
          <li class="crane__item crane-arm"></li>
        </ul>
      </section>
    </main>

    <script src="" async defer></script>
  </body>
</html>
