  <%- include('partials/homepage_header.ejs') %>

    <section class="section-1">
      <div class="parallax">
        <div id="overlay"></div>
        <h1>Admissions</h1>
        <a href="https://www.thejamiareview.com" target="_blank">
          <button class="button">
            <span class="material-icons-outlined"> school </span>
            <h2>The jamia review</h2>
          </button>
        </a>
      </div>
    </section>

    <section class="section-2">
      <div class="prospectus">
        <h2>Prospectus 2020-2021</h2>
        <button>Read Here</button>
      </div>
      <div class="admissionform">
        <h2>Fill Admission form here</h2>
        <button>Fill Form</button>
      </div>
    </section>

    <section class="section-3">
      <div class="popular_courses">
        <h1>Popular Courses</h1>
        <hr />
        <p>CUT OFF LISTS, QUESTION PAPERS, ENTRANCE & COURSE SYLLABUS RECOMMENDED BOOKS FOR PREPARATION, EVERYTHING AT ONE PLACE AT JMI ADMISSIONS BY TJR</p>
      </div>
      <div class="courses">
      <% const courses = ["B.A.", "B.Arch.", "B.Ed.", "B.F.A.", "B.Sc.", "B.Tech", "B.Voc.", "Management", "Medical"] %>
        <% courses.forEach((course) => { %>
          <div class="course">
            <h3><%= course %></h3>
            <button class="bt3" onclick=""><!--on click call function while passing course name to get to that course specificallyy-->
              <span>Learn More</span>
              <span class="material-icons"> arrow_forward_ios </span>
            </button>
          </div>
        <% }) %>
      </div>
    </section>

    <section class="section-4">
      <div class="accordian"></div>
    </section>

    <%- include('partials/footer.ejs') %>
    <script src="../../js/index.js"></script>
  </body>
</html>